<div class="home background">

    <!-- Navegacion -->
    <nav class="navbar navbar-expand-lg navbar-light  navegador">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <img *ngIf="user.photoURL" class="perfil-img border rounded-circle" [src]="user.photoURL" alt="">
        <img *ngIf="!user.photoURL" class="perfil-img border rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/comandautn.appspot.com/o/p11.jpg?alt=media&token=9fcfdc0e-1b26-408e-8100-d1bcc25c6bc7" alt="">
        <a *ngIf="user.displayName" class="navbar-brand text-mov">Hola {{user.displayName}}</a>
        <a *ngIf="!user.displayName" class="navbar-brand text-mov">Hola {{user.email}}</a>

        <ul class="navbar-nav mr-auto mt-2 my-2 mt-lg-0">
            <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Contactos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Promociones</a>
            </li> -->
        </ul>
        <form class="form-inline  my-2 my-lg-0">
        <button class="btn btn-warning boton  my-2 my-lg-0" (click)="salir()" type="submit">Salir</button>
        </form>
    </div>
    </nav>
    
    <!-- Fin Navegacion -->
    
    <div class="panel">
    
    </div>
    
    <!-- Panel -->
    <section class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col text-center text-uppercase">
                    <small>Bienvenido a la comidona!!!</small>
                    <h3>Elegi tu mesa y comenza tu orden</h3>
                </div>
            </div>

            <!-- Seleccion de Mesas  -->
            <div *ngIf="!select">
                <div class="alert alert-warning" role="alert">
                    <div *ngIf="mesas.length > 0" >
                        Primero elegi tu mesa
                    </div>
                    <div *ngIf="mesas.length === 0" class="alert alert-warning" role="alert">
                        Todas las mesas se encuentran ocupadas, espera en la barra mientras se libera una.
                    </div>
                </div>
                <div *ngIf="mesas">
                    <button *ngFor="let mesa of mesas" 
                        (click)="seleccionarMesa(mesa.id_mesa)" 
                        type="button" class="btn btn-warning boton">MES-{{mesa.id_mesa}}
                    </button>
                </div>
            </div>  
            
            <div *ngIf="mesa">
                <div class="row mesa">
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" [src]="mesa.foto_mesa" alt="">
                            <div class="card-body">
                                <div class="badges">
                                    <!-- <span class="badge badge-warning">{{mesa.id_estado_mesa}}</span> -->
                                    <span class="badge badge-info">{{mesa.descripcion_estado_mesa | valorMayuscula}}</span>
                                </div>
                                <h5 class="card-title">{{user.displayName}}</h5>
                                <p class="card-text">El mozo se estara hacercando para realizar tu pedido</p>
                                <button class="btn btn-outline-warning boton">Pedi tu cuenta</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-4">
                        <div class="card">
                            <!-- TODO lista pedidos de la mesa -->
                            <table #pedidoTable mat-table [dataSource]="pedidos" class="mat-elevation-z8 pedido-table">
                                <ng-container matColumnDef="id_pedidos">
                                    <th mat-header-cell *matHeaderCellDef>ID</th>
                                    <td mat-cell *matCellDef="let pedido"> {{pedido.id_pedidos}} </td>
                                </ng-container>
                                <ng-container matColumnDef="codigo_pedido">
                                    <th mat-header-cell *matHeaderCellDef>CODIGO</th>
                                    <td mat-cell *matCellDef="let pedido"> {{pedido.codigo_pedido}} </td>
                                </ng-container>
                                <ng-container matColumnDef="descripcion_estado">
                                    <th mat-header-cell *matHeaderCellDef>ESTADO</th>
                                    <td mat-cell *matCellDef="let pedido"> {{pedido.descripcion_estado}} </td>
                                </ng-container>
                                <ng-container matColumnDef="fecha_pedido">
                                    <th mat-header-cell *matHeaderCellDef>FECHA</th>
                                    <td mat-cell *matCellDef="let pedido"> {{pedido.fecha_pedido | date}} </td>
                                </ng-container>
                                <ng-container matColumnDef="hora_inicio_pedido">
                                    <th mat-header-cell *matHeaderCellDef>HORA INICIO</th>
                                    <td mat-cell *matCellDef="let pedido"> {{pedido.hora_inicio_pedido | date:'shortTime'}} </td>
                                </ng-container>
                                <ng-container matColumnDef="hora_estimada_entrega_pedido">
                                    <th mat-header-cell *matHeaderCellDef>HORA ESTIMADA</th>
                                    <td mat-cell *matCellDef="let pedido"> {{pedido.hora_estimada_entrega_pedido | date:'shortTime'}} </td>
                                </ng-container>
                                <ng-container matColumnDef="nombre_menu">
                                    <th mat-header-cell *matHeaderCellDef>NOMBRE MENU</th>
                                    <td mat-cell *matCellDef="let pedido"> {{pedido.nombre_menu}} </td>
                                </ng-container>
                                <ng-container matColumnDef="precio_menu">
                                    <th mat-header-cell *matHeaderCellDef>PRECIO</th>
                                    <td mat-cell *matCellDef="let pedido"> {{pedido.precio_menu}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Panel -->
</div>
