<mat-card>
    <div class="crop-image">
        <ng-component>

        </ng-component>
        <img *ngIf="empleado.foto_empleado"  [src]="empleado.foto_empleado" alt="">
        <img *ngIf="!empleado.foto_empleado"  src="../../../../assets/img/empleado/default.png" alt="">
    </div>
    <mat-card-header>
        <mat-card-title>{{ empleado.nombre_empleado}}</mat-card-title>
        <mat-card-subtitle>{{ empleado.estado_empleado | estadoEmpleado }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>fecha de inicio: {{ empleado.created_at | date}}</p>
        <p>ultimo ingreso: {{ empleado.updated_at }}</p>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button  (click)="addPedido()" mat-raised-button color="primary">Hacer pedido</button>
    </mat-card-actions> -->
</mat-card>