<table #pedidoTable mat-table [dataSource]="pedidos" class="mat-elevation-z8 pedido-table">
    <ng-container matColumnDef="id_pedidos">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.id_pedidos}} </td>
    </ng-container>
    <ng-container matColumnDef="codigo_pedido">
        <th mat-header-cell *matHeaderCellDef>CODIGO</th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.codigo_pedido}} </td>
    </ng-container>
    <ng-container matColumnDef="descripcion_estado">
        <th mat-header-cell *matHeaderCellDef>ESTADO</th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.descripcion_estado}} </td>
    </ng-container>
    <ng-container matColumnDef="fecha_pedido">
        <th mat-header-cell *matHeaderCellDef>FECHA</th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.fecha_pedido | date}} </td>
    </ng-container>
    <ng-container matColumnDef="hora_inicio_pedido">
        <th mat-header-cell *matHeaderCellDef>HORA INICIO</th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.hora_inicio_pedido | date:'shortTime'}} </td>
    </ng-container>
    <ng-container matColumnDef="hora_estimada_entrega_pedido">
        <th mat-header-cell *matHeaderCellDef>HORA ESTIMADA</th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.hora_estimada_entrega_pedido | date:'shortTime'}} </td>
    </ng-container>
    <ng-container matColumnDef="nombre_menu">
        <th mat-header-cell *matHeaderCellDef>NOMBRE MENU</th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.nombre_menu}} </td>
    </ng-container>
   
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>ACTION</th>
        <td mat-cell *matCellDef="let pedido">
           <!-- <a mat-raised-button [routerLink]="['edit', pedido._id]">VER</a> -->
            <ng-container class="row" [ngSwitch]="empleado.id_tipo">
                <ng-container *ngSwitchCase="5" >
                    <button mat-raised-button  *ngIf="(pedido.descripcion_estado !== 'entregado')"  color="accent" (click)="cerrarPedido(pedido)">Cobrar</button>
                </ng-container>
                <ng-container *ngSwitchCase="4" >
                    <button mat-raised-button *ngIf="(pedido.descripcion_estado !== 'entregado')"  color="primary" (click)="tomarPedido(pedido)">Tomar</button>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <button  mat-raised-button *ngIf="(pedido.descripcion_estado !== 'preparandose')"  color="primary" (click)="tomarPedido(pedido)">Tomar</button>
                </ng-container>  
            </ng-container>
            <button mat-raised-button color="warn" *ngIf="(pedido.descripcion_estado !== 'finalizado')" (click)="pedidoListo(pedido)">Listo</button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
