<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Empleado</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Nombre" formControlName="nombre_empleado" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field>
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado_empleado" [(value)]="selectedValue">
                    <mat-option *ngFor="let estado of estados" [value]="estado.value">
                        {{estado.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Tipo de empleado</mat-label>
                <mat-select formControlName="id_tipo"  [(value)]="selected">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let tipo of tiposEmpleado" [value]="tipo.id_tipo">{{tipo.descripcion_tipo}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="row">
                <div class="col-xs">
                  <img class="img" *ngIf="(image$ | async) as foto_empleado" [src]="foto_empleado" alt="">
                  <input type="file" (change)="uploadFile($event)">
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Guardar</button>
        </mat-card-actions>
    </mat-card>
</form>