
.registrar {
    // font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    width: 100%;
    display: inline-block;
    background: #c0d0e0;
    background: linear-gradient(to right, #c0d0e0, rgb(216, 226, 226));
}

.registrar .btn {
    font-size: 80%;
    border-radius: 5rem;
    border-color: #6c757d;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.datos {
    border-radius: 5rem;
}